<!DOCTYPE html>
<html lang="en">

<head>
    <title>Freelance Matching System Admin</title>
    <%include partials/template/headlink.ejs %>
        <style>
            /*
  align the text to center
*/
            .table td {
                text-align: center;
            }
        </style>
</head>

<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="/admin">Freelance Matching System Admin</a></h1>
    </div>
    <!--close-Header-part-->


    <!--top-Header-menu-->
    <%include partials/template/topHeaderMenu.ejs %>
        <!--close-top-Header-menu-->

        <!--start-top-serch-->
        <%include partials/template/searchBar.ejs %>
            <!--close-top-serch-->


            <!--sidebar-menu-->
            <%include partials/template/sidebarMenu.ejs %>
                <!--sidebar-menu-->

                <!--main-container-part-->
                <div id="content">

                    <!--breadcrumbs navigation-->
                    <div id="content-header">
                        <div id="breadcrumb">
                            <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
                            <a href="/readSkill" title="Go to Read User" class="tip-bottom"><i class="icon-user"></i> Create Skill Test</a>
                        </div>
                    </div>
                    <!--End-breadcrumbs navigation-->

                    <!-- write your container here -->


                    <div class="content-fluid">
                        <div class="row-fluid">
                            <div class="span1">
                            </div>
                            <!-- end of span 1 -->
                            <div class="span10">
                                <div class="widget-box">
                                    <div class="widget-title">
                                        <span class="icon"><i class="icon-bookmark"></i></span>
                                        <h5>Create a skill - Step 1</h5>
                                    </div>
                                    <!-- end of widget title -->
                                    <div class="widget-content nopadding">
                                      <form class="form-horizontal">
                                        <div class="control-group">
                                          <label class="control-label">Skill Type : </label>
                                          <div class="controls">
                                            <input type="text" name="skills[type]">
                                          </div>
                                        </div>

                                        <div class="control-group">
                                          <label class="control-label">Name : </label>
                                          <div class="controls">
                                            <input type="text" name="skills[name]">
                                          </div>
                                        </div>
                                        
                                        <div class="form-actions">
                                          <input type="submit" class="btn btn-success btn-save" value="Create"/>
                                        </div>

                                      </form>
                                    </div>
                                </div>
                                <!-- end of widget box -->
                            </div>
                            <!-- end of span 10 -->
                            <div class="span1">
                            </div>
                            <!-- end of span 1 -->
                        </div>

                    </div>
                    <!-- end of content-fluid -->



                    <!-- end of your container here -->

                </div>
                <!--end-main-container-part-->

                <!--Footer-part-->
                <footer>
                    <%include partials/template/footer.ejs %>
                </footer>
                <!--end-Footer-part-->
                <script src="/js/admin/jquery.min.js"></script>
                <script src="/js/admin/jquery.ui.custom.js"></script>
                <script src="/js/admin/bootstrap.min.js"></script>
                <script src="/js/admin/jquery.uniform.js"></script>
                <script src="/js/admin/select2.min.js"></script>
                <script src="/js/admin/jquery.dataTables.min.js"></script>
                <script src="/js/admin/matrix.js"></script>
                <script src="/js/admin/matrix.tables.js"></script>
                <script src="/js/maintainSkill.js"></script>
                <script src="/js/maintainUser.js"></script>

</body>

</html>
