<!DOCTYPE html>
<html lang="en">
<head>
<title>Freelance Matching System Admin</title>
<%include partials/template/headlink.ejs %>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="/admin">Freelance Matching System Admin</a></h1>
</div>
<!--close-Header-part-->


<!--top-Header-menu-->
<%include partials/template/topHeaderMenu.ejs %>
<!--close-top-Header-menu-->

<!--start-top-serch-->
<%include partials/template/searchBar.ejs %>
<!--close-top-serch-->


<!--sidebar-menu-->
<%include partials/template/sidebarMenu.ejs %>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">

<!--breadcrumbs navigation-->
<div id="content-header">
  <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
</div>
<!--End-breadcrumbs navigation-->

<!-- write your container here -->



</div>
<!--end-main-container-part-->

<!--Footer-part-->
<footer>
<%include partials/template/footer.ejs %>
</footer>
<!--end-Footer-part-->
<%include partials/template/footerscript.ejs %>
</body>
</html>
