<!DOCTYPE html>
<html lang="en">
<head>
<title>Freelance Matching System Admin</title>
<%include partials/template/headlink.ejs %>
<style>
/*
  align the text to center
*/
.table td {
 text-align: center;
}
</style>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="/admin">Freelance Matching System Admin</a></h1>
</div>
<!--close-Header-part-->


<!--top-Header-menu-->
<%include partials/template/topHeaderMenu.ejs %>
<!--close-top-Header-menu-->

<!--start-top-serch-->
<%include partials/template/searchBar.ejs %>
<!--close-top-serch-->


<!--sidebar-menu-->
<%include partials/template/sidebarMenu.ejs %>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">

<!--breadcrumbs navigation-->
<div id="content-header">
  <div id="breadcrumb">
    <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="/readUser" title="Go to Read User" class="tip-bottom"><i class="icon-user"></i> Read User</a>
  </div>
</div>
<!--End-breadcrumbs navigation-->

<!-- write your container here -->


<div class="content-fluid">
  <div class="row-fluid">
    <div class="span1">
    </div>
    <!-- end of span 1 -->
    <div class="span10">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon"><i class="icon-bookmark"></i></span>
          <h5>Read All User Information</h5>
        </div>
        <!-- end of widget title -->
        <div class="widget-content nopadding">
          <table class="table table-bordered data-table">
            <thead>
              <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Country</th>
                <th>Balance</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>evanfungv</td>
                <td>evan</td>
                <td>fung</td>
                <td>evanfung@gmail.com</td>
                <td>Hong Kong</td>
                <td>$300,000</td>
                <td><button type="button" id="editUser" class="btn btn-block btn-inverse">Edit</button></td>
                <td><button type="button" class="btn btn-block btn-inverse" data-target="#delete" data-toggle="modal">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end of widget box -->
    </div>
    <!-- end of span 10 -->
    <div class="span1">
    </div>
    <!-- end of span 1 -->
  </div>

  <!-- the second row of content start -->
  <div class="edit-form" style="display:none">
    <div class="row-fluid">
      <div class="span1">
      </div>
      <div class="span10">
        <div class="widget-box">
          <div class="widget-title">
            <span class="icon"><i class="icon-bookmark"></i></span>
            <h5>Edit User Information</h5>
          </div>
          <!-- end of title -->
          <div class="widget-content nopadding">

            <form action="#" method="get" class="form-horizontal">
              <div class="control-group">
                <label class="control-label">User Name :</label>
                <div class="controls">
                  <input type="text" class="span11" placeholder="evanfungv" readonly="readonly"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">First Name :</label>
                <div class="controls">
                  <input type="text" class="span11" placeholder="First name" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Last Name :</label>
                <div class="controls">
                  <input type="text" class="span11" placeholder="Last name" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Password input :</label>
                <div class="controls">
                  <input type="password"  class="span11" placeholder="Enter Password"  />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Confirm Password :</label>
                <div class="controls">
                  <input type="password"  class="span11" placeholder="Enter Password"  />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Country:</label>
                <div class="controls">
                  <select >
                    <option>HK</option>
                    <option>USA</option>
                    <option>UK</option>
                    <option>SG</option>
                    <option>JP</option>
                    <option>CN</option>
                  </select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Email:</label>
                <div class="controls">
                  <input type="text" class="span11" placeholder="abc@email.com"/>
                  <span class="help-block">email field</span>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Balance :</label>
                <div class="controls">
                  <input type="text" class="span11" placeholder="$300,000" readonly="readonly"/>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </form>

          </div>
          <!-- end of widget content -->
        </div>
      </div>
      <!-- end of widget box -->
      <div class="span1">
      </div>
    </div>
    <!-- end fo the second row of content -->
  </div>


  <!-- Modal -->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel" style="color:red">DO YOU STILL WANT TO DELETE?</h4>
        </div>
        <div class="modal-body">
          <h5><strong>THE DELETE OPERATION CAN'T RECOVER</strong></h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- end of content-fluid -->



<!-- end of your container here -->

</div>
<!--end-main-container-part-->

<!--Footer-part-->
<footer>
<%include partials/template/footer.ejs %>
</footer>
<!--end-Footer-part-->
<script src="/js/admin/jquery.min.js"></script>
<script src="/js/admin/jquery.ui.custom.js"></script>
<script src="/js/admin/bootstrap.min.js"></script>
<script src="/js/admin/jquery.uniform.js"></script>
<script src="/js/admin/select2.min.js"></script>
<script src="/js/admin/jquery.dataTables.min.js"></script>
<script src="/js/admin/matrix.js"></script>
<script src="/js/admin/matrix.tables.js"></script>
<script src="/js/maintainUser.js"></script>

</body>
</html>
