<!DOCTYPE html>
<html lang="en">

<head>
    <title>Freelance Matching System Admin</title>
    <%include partials/template/headlink.ejs %>
        <style>
            /*
  align the text to center
*/

            .table td {
                text-align: center;
            }
        </style>
</head>

<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="/admin">Freelance Matching System Admin</a></h1>
    </div>
    <!--close-Header-part-->


    <!--top-Header-menu-->
    <%include partials/template/topHeaderMenu.ejs %>
        <!--close-top-Header-menu-->

        <!--start-top-serch-->
        <%include partials/template/searchBar.ejs %>
            <!--close-top-serch-->


            <!--sidebar-menu-->
            <%include partials/template/sidebarMenu.ejs %>
                <!--sidebar-menu-->

                <!--main-container-part-->
                <div id="content">

                    <!--breadcrumbs navigation-->
                    <div id="content-header">
                        <div id="breadcrumb">
                            <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
                            <a href="/readSkill" title="Go to Read User" class="tip-bottom"><i class="icon-user"></i> Read Skill Test</a>
                        </div>
                    </div>
                    <!--End-breadcrumbs navigation-->

                    <!-- write your container here -->


                    <div class="content-fluid">
                        <div class="row-fluid">
                            <div class="span1">
                            </div>
                            <!-- end of span 1 -->
                            <div class="span10">
                                <div class="widget-box">
                                    <div class="widget-title">
                                        <span class="icon"><i class="icon-bookmark"></i></span>
                                        <h5>Read All Skill Information</h5>
                                    </div>
                                    <!-- end of widget title -->
                                    <div class="widget-content nopadding">
                                        <table class="table table-bordered data-table" align="center">
                                            <thead>
                                                <tr>
                                                    <th>Question ID</th>
                                                    <th>Type of the skill</th>
                                                    <th>Number of questions</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>0000000000001</td>
                                                    <td>Java</td>
                                                    <td>10</td>
                                                    <td><button type="button" id="editUser" class="btn btn-block btn-inverse">Edit</button></td>
                                                    <td><button type="button" class="btn btn-block btn-inverse" data-target="#delete" data-toggle="modal">Delete</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end of widget box -->
                            </div>
                            <!-- end of span 10 -->
                            <div class="span1">
                            </div>
                            <!-- end of span 1 -->
                        </div>

                        <!-- the second row of content start -->
                        <div class="edit-form" style="display:none">
                            <div class="row-fluid">
                                <div class="span1">
                                </div>
                                <div class="span10">
                                    <div class="widget-box">
                                        <div class="widget-title">
                                            <span class="icon"><i class="icon-bookmark"></i></span>
                                            <h5>Edit Skill Test Information</h5>
                                        </div>
                                        <!-- end of title -->
                                        <div class="widget-content nopadding" id="form-question">

                                            <form action="#" method="get" class="form-horizontal">
                                                <div class="control-group">
                                                    <label class="control-label">Question 1:</label>
                                                    <div class="controls">
                                                        <input type="text" class="span11" placeholder="evanfungv" value="What are JDK,JRE and JVM?" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Correct Answer:</label>
                                                    <div class="controls">
                                                        <input type="text" class="span11" placeholder="JVM" value="JVM" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Incorrect Answer :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span11" placeholder="JDK" value="JDK" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Incorrect Answer :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span11" placeholder="JRE" value="JRE" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Incorrect Answer :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span11" placeholder="AAA" value="AAA" />
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <button type="button" class="btn btn-success" data-target="#add" data-toggle="modal">Add</button>
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                            </form>

                                        </div>
                                        <!-- end of widget content -->
                                    </div>
                                </div>
                                <!-- end of widget box -->
                                <div class="span1">
                                </div>
                            </div>
                            <!-- end fo the second row of content -->
                        </div>


                        <!-- Modal of delete-->
                        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="delete-modal-label" style="color:red">DO YOU STILL WANT TO DELETE?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h5><strong>THE DELETE OPERATION CAN'T RECOVER</strong></h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal of Add-->
                        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="add-modal-label" style="color:red">Add Question to the test</h4>
                                    </div>
                                    <form action="#" method="get" class="form-horizontal">
                                        <div class="modal-body">
                                            <div class="add-form-question">
                                                <div class="control-group">
                                                    <label class="control-label">Question 2:</label>
                                                    <div class="controls">
                                                        <input type="text" class="span3" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Correct Answer:</label>
                                                    <div class="controls">
                                                        <input type="text" class="span3" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Incorrect Answer :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span3" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Incorrect Answer :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span3" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Incorrect Answer :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span3" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-primary" id="add-question">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end of content-fluid -->



                    <!-- end of your container here -->

                </div>
                <!--end-main-container-part-->

                <!--Footer-part-->
                <footer>
                    <%include partials/template/footer.ejs %>
                </footer>
                <!--end-Footer-part-->
                <script src="/js/admin/jquery.min.js"></script>
                <script src="/js/admin/jquery.ui.custom.js"></script>
                <script src="/js/admin/bootstrap.min.js"></script>
                <script src="/js/admin/jquery.uniform.js"></script>
                <script src="/js/admin/select2.min.js"></script>
                <script src="/js/admin/jquery.dataTables.min.js"></script>
                <script src="/js/admin/matrix.js"></script>
                <script src="/js/admin/matrix.tables.js"></script>
                <script src="/js/maintainSkill.js"></script>
                <script src="/js/maintainUser.js"></script>

</body>

</html>
