label{
	font-size: 18px;
	margin: 0;
	font-weight: 500;
	padding-top: 0;
}

hr{
	width: 80%;
}

.form-control{
	margin-top: 3px;
}

#error-icon{
	color: #e18972;
}

.error_message{
	color: #e18972;
	float: right;
}

