<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="active"><a href="/admin"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Maintaince User</span></a>
      <ul>
        <li><a href="/admin/createUser">Create User</a></li>
        <li><a href="/admin/readUser">Read User</a></li>
        <li><a href="/admin/updateUser">Update User</a></li>
        <li><a href="/admin/deleteUser">Delete User</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Maintaince Skill Test</span></a>
      <ul>
        <li><a href="#">Create Skill Test</a></li>
        <li><a href="/admin/readSkill">Read Current Skill Test</a></li>
        <li><a href="#">Update Skill Test</a></li>
        <li><a href="#">Delete Skill Test</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-signal"></i> <span>Maintaince Post Job</span></a>
      <ul>
        <li><a href="#">Create Post Job</a></li>
        <li><a href="#">Read Post Job</a></li>
        <li><a href="#">Update Post Job</a></li>
        <li><a href="#">Delete Post Job</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-signal"></i> <span>Maintain User's Report</span></a>
      <ul>
        <li><a href="#">Read Current Report</a></li>
        <li><a href="#">Handle Report</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-signal"></i> <span>Maintain User's Payment</span></a>
      <ul>
        <li><a href="#">Read User's Payment Status</a></li>
        <li><a href="#">Handle User's Payment</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-signal"></i> <span>Notification</span></a>
      <ul>
        <li><a href="#">Broadcast</a></li>
        <li><a href="#">Inbox</a></li>
      </ul>
    </li>
    <li> <a href="widgets.html"><i class="icon icon-inbox"></i> <span>Business Performance</span></a> </li>

  </ul>
</div>
<!--sidebar-menu-->
